<div :style="styleObject.root">
  <header-dropdown class="u-pull-right" text="Movies & Shows"></header-dropdown>
  <input style="margin: 12px;" class="u-pull-left" type="text" /><h3><a href="#"><i :style="styleObject.searchIcon" class="icon-search" /></a></h3>
  <div style="animation-name: spin;animation-duration: 4000ms;animation-iteration-count: infinite;animation-timing-function: linear;margin: 0px auto;width: 100px;position: relative;top: calc(50% - 160px);transform: translateY(-110%);">
    <i style="font-size: 70px;" class="icon-spin2" />
  </div>
</div>