<div :style="styleObject.root">
  <div style="width: 100%; z-index: 1; top: 0; position: fixed;">
    <h3 :style="styleObject.header">
      <div class="u-pull-right">
        <a class="u-pull-left" href="#">
          <i :style="styleObject.searchIcon" class="icon-search" />
        </a>
        <input style="margin: 12px;" type="text" />
      </div>

      <header-dropdown text="Movies & Shows" />
    </h3>
  </div>

  <loader v-if="movies.get('loading')" />
  <gallery v-else :movies="movies.get('results')" />
</div>