html {
  height: 100%;
}

body {
  user-select: none;
  background: #030202;
  color: #908E8E;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: #5B5B5B;
}

h3 {
  padding: 10px;
  background: #1E1E1E;
}

#app {
  height: 100%;
}

input[type="text"] {
  font-size: 20px;
  background: #1E1E1E;
  border: none;
  border-bottom: 1px solid #908E8E;
  border-radius: 0
}

input[type="text"]:focus {
  border: none;
  border-bottom: 1px solid #908E8E;
  border-radius: 0
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}